body {
    font-family: 'Roboto', sans-serif;
}

header {
  background-color: #0fb9b1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  background-image: url("assets/burger-friends.jpg");
  background-size: cover;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  height: 90%;
  width: 100%;
}

section {
  background-color: rgba(225, 225, 225, .9);
  height: 50%;
  width: 40%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#new {
  height: 25%;
}

#choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around
}

#clear {
  background-color: #95a5a6;
}

#cook {
  background-color: #0fb9b1;
}

#response {
  display: flex;
  align-items: center;
  justify-content: center;
}

svg {
  visibility: initial;
  height: 50%;
  width: 50%;
}
